<!DOCTYPE html>
<html>
<p-panel>
  <p-header>
    Responsáveis
  </p-header>

  <p-toolbar>
    <div class="ui-toolbar-group-rigth">
      <button pButton type="button" label="Cadastrar" type="submit" tooltipPosition="top" [routerLink]="['/cadastrodebancas']"
        pTooltip="Cick aqui para cadastrar a banca" icon="fa fa-floppy-o" class="ui-button-success"></button>
      <div class="ui-toolbar-group-right">
        <i class="fa fa-search fa-2x" style="margin:4px 4px 0 0"></i>
        <input type="text" pInputText size="32" placeholder="Filtro global" (input)="dt.filterGlobal($event.target.value, 'contains')"
          style="width:auto">
        <button icon="pi pi-sign-out" class="ui-button-info" tooltipPosition="top" pButton type="button" [routerLink]="['/menu']"
          pTooltip="Click aqui para voltar para voltar ao  menu" label="Sair" class="ui-button-raised"></button>
      </div>
    </div>
  </p-toolbar>
  <p-table #dt [columns]="colunas" [value]="bancas" [paginator]="true" [rows]="15" [resizableColumns]="true"
    [responsive]="true">

    <ng-template pTemplate="header" let-colunas>
      <tr>
        <th *ngFor="let col of colunas" [pSortableColumn]="col.field" pResizableColumn>
          {{col.header}}
          <p-sortIcon [field]="colunas.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order"
            ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
        </th>

      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-banca>
      <tr>
        <td style="background-color: orange" pResizableColumn><span class="ui-column-title">ID</span>{{banca.id}}</td>
        <td pResizableColumn><span class="ui-column-title">NOME</span> {{banca.banca}}</td>
        <td pResizableColumn><span class="ui-column-title">EMAIL</span> {{banca.email}}</td>
        <td pResizableColumn><span class="ui-column-title">EMAIL</span> {{banca.emailgestordabanca}}</td>

      </tr>
    </ng-template>
  </p-table>


</p-panel>

</html>
