<html>
  <p-panel>
    <p-header>
      Cadastro de Processos
    </p-header>
  <form [formGroup]="formpadrao">

  <div class="ui-g">
      <div class="ui-g-4">
          Numero do Processo
      </div>
      <div class="ui-g-8">
          <input pInputText type="text" formControlName="numeroprocesso"/>
      </div>
  </div>
  <div class="ui-g">
      <div class="ui-g-4">
          Autor
      </div>
      <div class="ui-g-8">
          <input pInputText type="text" formControlName="autor" />
      </div>
  </div>
  <div class="ui-g">
      <div class="ui-g-4">
          Adverso
      </div>
      <div class="ui-g-8">
          <input pInputText type="text" formControlName="adverso" />
      </div>
  </div>
  <div class="ui-g">
      <div class="ui-g-4">
          Localização
      </div>
      <div class="ui-g-8">
          <input pInputText type="text" formControlName="localizacao"/>
      </div>
  </div>

  <div class="ui-g">
      <div class="ui-g-4">
          Posição
      </div>
      <div class="ui-g-8">
          <input pInputText type="text" formControlName="posicao" />
      </div>
  </div>
  <div class="ui-g">
      <div class="ui-g-4">
          Processo Eletrônico
      </div>
      <div class="ui-g-8">
          <input pInputText type="text" formControlName="proceletronico" />
      </div>
  </div>
  <div class="ui-g">
      <div class="ui-g-4">
          Comarca
      </div>
      <div class="ui-g-8">
          <input pInputText type="text" formControlName="comarca_id" />
      </div>
  </div>
  <div class="ui-g">
      <div class="ui-g-4">
          Orgão
      </div>
      <div class="ui-g-8">
          <input pInputText type="text" formControlName="orgao_id"/>
      </div>
  </div>
  <div class="ui-g">
      <div class="ui-g-4">
          Assunto
      </div>
      <div class="ui-g-8">
          <input pInputText type="text" formControlName="assunto"/>
      </div>
  </div>
  <div class="ui-g">
      <div class="ui-g-4">
          Num orgao
      </div>
      <div class="ui-g-8">
          <input pInputText type="text" formControlName="numorgao" />
      </div>
  </div>



</form>

</p-panel>


</html>
